nav {
    background-color: transparent; 
    padding: 20px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    z-index: 10; 
}

nav .logo {
    margin-left: 20px; 
    height: 60px; 
    width: auto; 
    padding: 2px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #B9B4C7; 
}
